terraform-provider-uptimerobot
dist/
.tmp
.claude
.env

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfplan
.terraformrc

*.log
go.work*
.gocache
playground/
test-uptimerobot/
bin/
claude.md

